## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Current Description
0,0,Hasaki,35.7333,140.8333,55.29,33,70,15.99,JP,2021-12-13 03:21:21,broken clouds
1,1,Tasiilaq,65.6145,-37.6368,33.96,94,100,4.65,GL,2021-12-13 03:21:21,overcast clouds
2,2,Sandpoint,48.2766,-116.5533,34.68,90,90,4.61,US,2021-12-13 03:21:21,overcast clouds
3,3,Mahebourg,-20.4081,57.7000,79.25,78,75,6.91,MU,2021-12-13 03:21:22,broken clouds
4,4,Busselton,-33.6500,115.3333,68.23,39,100,5.41,AU,2021-12-13 03:21:22,overcast clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 50
What is the maximum temperature you would like for your trip? 80

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Current Description
0,0,Hasaki,35.7333,140.8333,55.29,33,70,15.99,JP,2021-12-13 03:21:21,broken clouds
3,3,Mahebourg,-20.4081,57.7000,79.25,78,75,6.91,MU,2021-12-13 03:21:22,broken clouds
4,4,Busselton,-33.6500,115.3333,68.23,39,100,5.41,AU,2021-12-13 03:21:22,overcast clouds
5,5,Mataura,-46.1927,168.8643,61.48,33,15,6.89,NZ,2021-12-13 03:21:23,few clouds
6,6,Bluff,-46.6000,168.3333,61.81,73,49,14.90,NZ,2021-12-13 03:20:33,scattered clouds
8,8,Samana,19.2056,-69.3369,74.80,89,40,8.99,DO,2021-12-13 03:21:23,scattered clouds
9,9,Castro,-24.7911,-50.0119,65.41,81,97,6.53,BR,2021-12-13 03:21:24,overcast clouds
10,10,Pimenta Bueno,-11.6725,-61.1936,74.91,98,100,3.22,BR,2021-12-13 03:21:24,light rain
13,13,Geraldton,-28.7667,114.6000,79.21,44,0,13.80,AU,2021-12-13 03:19:40,clear sky
17,17,Mwinilunga,-11.7358,24.4293,61.20,98,92,3.98,ZM,2021-12-13 03:21:25,overcast clouds

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

preferred_cities_df.isnull()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Current Description
0,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...
683,False,False,False,False,False,False,False,False,False,False,False
684,False,False,False,False,False,False,False,False,False,False,False
685,False,False,False,False,False,False,False,False,False,False,False
686,False,False,False,False,False,False,False,False,False,False,False
687,False,False,False,False,False,False,False,False,False,False,False

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
 ## no empty rows

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng", "Current Description"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Current Description,Hotel Name
0,Hasaki,JP,55.29,35.7333,140.8333,broken clouds,
3,Mahebourg,MU,79.25,-20.4081,57.7000,broken clouds,
4,Busselton,AU,68.23,-33.6500,115.3333,overcast clouds,
5,Mataura,NZ,61.48,-46.1927,168.8643,few clouds,
6,Bluff,NZ,61.81,-46.6000,168.3333,scattered clouds,
8,Samana,DO,74.80,19.2056,-69.3369,scattered clouds,
9,Castro,BR,65.41,-24.7911,-50.0119,overcast clouds,
10,Pimenta Bueno,BR,74.91,-11.6725,-61.1936,light rain,
13,Geraldton,AU,79.21,-28.7667,114.6000,clear sky,
17,Mwinilunga,ZM,61.20,-11.7358,24.4293,overcast clouds,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")
        
hotel_df.head(10)

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

,City,Country,Max Temp,Lat,Lng,Current Description,Hotel Name
0,Hasaki,JP,55.29,35.7333,140.8333,broken clouds,Hotel Sunrise Choshi
3,Mahebourg,MU,79.25,-20.4081,57.7000,broken clouds,Shandrani Beachcomber Resort & Spa
4,Busselton,AU,68.23,-33.6500,115.3333,overcast clouds,Observatory Guest House
5,Mataura,NZ,61.48,-46.1927,168.8643,few clouds,Ellie's Villa
6,Bluff,NZ,61.81,-46.6000,168.3333,scattered clouds,Bluff Homestead - Guesthouse & Campervan Park
8,Samana,DO,74.80,19.2056,-69.3369,scattered clouds,The Bannister - Hotel & Yacht Club
9,Castro,BR,65.41,-24.7911,-50.0119,overcast clouds,CHACARA BAILLY
10,Pimenta Bueno,BR,74.91,-11.6725,-61.1936,light rain,Cristalina Palace Hotel
13,Geraldton,AU,79.21,-28.7667,114.6000,clear sky,Broadwater Mariner Resort
17,Mwinilunga,ZM,61.20,-11.7358,24.4293,overcast clouds,Kwakuwahi Lodge

In [9]:
# 7. Drop the rows where there is no Hotel Name.
missing_hotel_df = hotel_df.loc[hotel_df['Hotel Name']=='']
missing_hotel_df

missing_hotel_df.index

hotel_df.drop(labels = missing_hotel_df.index,
             axis = 0,
             inplace = True)

hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Current Description,Hotel Name
0,Hasaki,JP,55.29,35.7333,140.8333,broken clouds,Hotel Sunrise Choshi
3,Mahebourg,MU,79.25,-20.4081,57.7000,broken clouds,Shandrani Beachcomber Resort & Spa
4,Busselton,AU,68.23,-33.6500,115.3333,overcast clouds,Observatory Guest House
5,Mataura,NZ,61.48,-46.1927,168.8643,few clouds,Ellie's Villa
6,Bluff,NZ,61.81,-46.6000,168.3333,scattered clouds,Bluff Homestead - Guesthouse & Campervan Park
8,Samana,DO,74.80,19.2056,-69.3369,scattered clouds,The Bannister - Hotel & Yacht Club
9,Castro,BR,65.41,-24.7911,-50.0119,overcast clouds,CHACARA BAILLY
10,Pimenta Bueno,BR,74.91,-11.6725,-61.1936,light rain,Cristalina Palace Hotel
13,Geraldton,AU,79.21,-28.7667,114.6000,clear sky,Broadwater Mariner Resort
17,Mwinilunga,ZM,61.20,-11.7358,24.4293,overcast clouds,Kwakuwahi Lodge

In [10]:
# 8a. Create the output File (CSV)

output_data_file = "WeatherPy_Vacation.csv"

# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [11]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""




# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [13]:
# 11a. Add a marker layer for each city to the map. 
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))